*{
    box-sizing: border-box;
}


h1,h2,body,p,ul,h3{
    margin: 0;
    padding: 0;
}

input:focus {
    outline:none;
}

button,abbr,a{
    cursor: pointer;
}

body {
    font-family: "Segoe UI", "Arial", sans-serif;
    background-color: var(--violet);
}

.menu{
    margin-right: 17px;
}

/* Стилизация всплывающих подсказок */

.hover-content{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    padding: 11px 16px 11px 16px;
    width: 288px;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px #0000004D;
    box-shadow: 0px 2px 10px 0px #00000026;
    background-color: var(--white);
    color: var(--black);
}

.hover-content__title{
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin: 0 0 8px 0;
}

.hover-content__desc{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

abbr:hover + .hover-content{
    display: block;   
}

.tooltip{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey);
    border-radius: 70px;
    width: 16px;
    height: 16px;
    text-decoration: none;
    margin-left: 5px;
}

.hover-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.hover-content__discount, .hover-content__price{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.hover-content__discount{
    color: var(--hover-grey-light);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 18px 24px;
}

.header__title{
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.05em;
    width: 109px;
    text-transform: uppercase;
    margin-right: 28px;
}

.search{
    width: 71.8%;
    height: 48px;
    border-radius: 36px;
    background-color: var(--search-background-color);
    border: none;
    margin-right: 33px;
}

.search::placeholder{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
    color: var(--white);
    letter-spacing: -0.06em;
}

.user, .shop-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user{
    margin-right: 42px;
}

.img-icon{
    width: 20px;
}

.icon-text{
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    background-color: var(--grey-background);
    padding: 21px 24px 48px 26px;
    border-radius: 24px;
}

.section__title{
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.main__title{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    margin: 15px 0 24px 0;

}
.inner{
    flex-basis: 66%;
    margin-right: 32px;
}

.details-top{
    margin-bottom: 33px;
}

.details-bottom{
    margin-bottom: 41px;
}

.details__summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--grey-border-color);
    padding-bottom: 17px;
    margin-bottom: 10px;
}

.details__summary::marker {
    display:none;
}

details:not([open]) > .details__summary > img {
    transform: rotate(180deg);
}

.summary-arrow{
    width: 20px;
    height: 20px;
    float: right;
    transition: all .3s;
}

.desc-count{
    display: inline-block;
}

.summary-checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.summary-checkbox-mask{
    position: absolute;
    margin: 0;
    width: 24px;
    height: 24px;
    border: 1px solid var(--grey-border-color);
    border-radius: 8px;
    margin-left: -29px;
}

.summary-checkbox:checked + .summary-checkbox-mask{
    background-color: var(--purple);
    background-image: url(/L0/img/checked.svg);
}

.summary-label{
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

.label-padding{
    padding-left: 19px;
    padding-top: 37px;
}

.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:  28px;
}

.list-item__inner{
    display: flex;
    flex-direction: row;
    flex-basis: 62%;
}

.subtitle-big{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.subtitle-small{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.mask{
    filter: grayscale(100%);
}

.right{
    flex-basis: 25.5%;
    justify-content: space-between;
}

.list-item__img{
    margin:0  16px 0 6px;
    width: 72px;
    height: 96px;
}

.details-bottom__list-item__img {
    margin: 0 16px 0 0;
    width: 72px;
    height: 96px;
}

.list-item__price{
    text-align: right;
}

.details-bottom-mb{
    margin-bottom: 31px;
}

.details-bottom-mb:nth-child(2n){
    padding-top: 2px;
    margin-bottom: 28px;
}

.details-bottom__item{
    flex-basis: 72%;
}

.product-info{
    display: flex;
    flex-direction: column;
    width: 46%;
}

.list-item__counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--white);
    margin-bottom: 7px;
}

.right-btn-inner{
    display: flex;
    justify-content: flex-end;
}

.alarm-item{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--invalid-text);
    margin-bottom: 8px;
}

.counter-btn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-left: 12px;
}

.count{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 0 0 5px 4px;
}

.product-name{
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}

.product-color, .product-size{
    color: var(--black);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 6px;
}

.product-color{
    margin-right: 15px;
}

.product-storage, .product-company{
    color: var(--grey);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    margin-bottom: 6px;
}

.price-title{
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.price-discount{
    position: relative;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey);
    text-decoration: line-through;
    text-decoration: underline dashed;
}

.inner-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-inner{
    margin-right: 123px;
}

.btn-change{
    color: var(--purple);
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}
.group-btn{
    border: none;
    background-color: transparent;
    margin-right: 14px;
    padding: 0;
}
.group-btn:last-child{
    margin-right: 0;
}

.section{
    background-color: var(--white);
    border-radius: 16px;
    margin-bottom: 19px;
    padding: 16px 24px 16px 24px;
}

.delivery{
    padding: 16px 15px 11px 21px;
}

.delivery__title{
    margin-bottom: 17px;
}

.pay__title{
    margin-bottom: 17px;
}

.pay-content__icon{
    margin-right: 5px;
}

.pay-content{
    display: flex;
    flex-direction: row;
}
.pay-information{
    display: flex;
    flex-direction: row;
}

.delivery__img-inner{
    width: 100%;
}

.delivery__img{
    width: 40px;
    height: 56px;
    margin-right: 4px;
}

.pay{
    margin-bottom: 16px;
    padding: 16px 20px 24px 23px;
}

.pay-desc{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;
    color: var(--grey);
}

.form{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83%;
}


.form-label{
    position: relative;
    flex-basis: 32%;
    
}

.form-label:nth-child(-n+2){
    flex-basis: 49%;
    margin-bottom: 39px;
}

.recipient{
    margin-bottom: 0;
    padding-bottom: 27px;
}

.recipient-input{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-border-color);
    width: 100%;
    padding: 0;
}

.recipient-input__desc{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    margin: 4px 0 0 7px;
}

.form-span{
    position: absolute;
    top: -12px;
    left: -8px;
    display: inline-block; 
    padding: 10px;
    transition: 0.5s; 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: var(--grey);
}
/* Перемещение плейсхолдеров */
.recipient-input:placeholder-shown ~ .form-span,
.recipient-input:focus ~ .form-span,
.recipient-input:valid ~ .form-span{
    font-size: 13px;
    transform: translateY(-21px);
}

/* Валидайия формы */
.invalid {
    color: var(--invalid-text);
}

.aside{
    flex-basis: 32%;
    height: fit-content;
    background-color: var(--white);
    padding-bottom: 23px;
}

.aside-item ,.delivery-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-item:nth-child(4n){
    margin-bottom: 25px;
}

.aside-inner{
    margin-bottom: 10px;
}

.aside-item:last-child{
    margin-bottom: 10px;
}

.delivery-content{
    width: 83%;
    margin-bottom: 17px;
}

.delivery-content:nth-child(4n){
    margin-bottom: 11px;
}

.delivery-content:nth-child(5n){
    margin-bottom: 20px;
}

.delivery-info__img{
    margin-right: 8px;
}

.delivery-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 100%;
    margin-bottom: 10px;
}

.aside-item:first-child{
    margin-bottom: 7px;
}

.aside-btn{
    border: none;
    background-color: transparent;
    padding: 0;
}

.aside__total-price{
    font-size: 23px;
    font-weight: 700;
    line-height: 33px;
    color: var(--black);
    letter-spacing: -0.02em;
}

.aside-item__desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.subtitle{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.delivery-desc{
    flex-basis: 74%;
    padding-left: 2px;

}

.delivery-schedule{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.aside-address{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.aside-date{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--purple);
}

.aside-delivery{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 3px 25px 0;
    background-color: var(--grey-background);
    padding: 10px;
    border-radius: 10px;
}
.aside-pay-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}
.aside-pay-icon{
    margin-right: 11px;
}

.card-number{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.aside-card-number{
    letter-spacing: -0.65px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.aside-item-pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
}

.aside-pay{
    background-color: var(--grey-background);
    padding: 8px 9px 11px 10px;
    margin-bottom: 24px;
    border-radius: 10px;
}

.aside-span{
    margin-left: -31px;
}

.aside-pay-padding{
    padding-left: 19px;
}

.permition-inner{
    display: flex;
    flex-direction: row;
}

.permition{
    padding-left: 15px;
}

.permition-checkbox-mask{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-right: -10px;
}

.summary-checkbox:checked + .permition-checkbox-mask{
    background-image: url(/L0/img/permition-checkbox.svg);
    background-repeat: no-repeat;
}

.price-shipping{
    position: relative;
    color: var(--green);
    text-decoration: underline dashed;
}

.aside-delivery-icon{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.aside-pay-desc{
    margin-top: 10px;
}

.order{
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 12px 0;
    background-color: var(--purple);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 12px;

}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-desc{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey);
    padding: 24px 0;
}


.mob-inner{
    display: none;
    width: 100%;
    background-color: var(--grey-background);
    justify-content: space-between;
    flex-direction: row;
    padding: 14px;
}

.list-item__price-mob{
    display: none;
}
.search-mob{
    display: none;
}

.display-none{
    display: none;
}

/* Модальное окно */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.modal-pay, .modal-delivery{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
}

.modal-list{
    list-style-type: none;
    margin-bottom: 150px;
}

.modal-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-list__item{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    gap: 4px;
}

.modal-title{
    margin-right: 187px;   
}

.modal-number{
    width: 100%;
}

.modal-inner{
    margin-bottom: 20px;
}

.modal-close{
    border: none;
    background-color: transparent;
}

.modal-btn{
    width: fit-content;
    padding: 12px 48px;
}
/* Модальное окно доставки */

.modal-delivery__btn{
    padding: 11px 62px;
    background-color: transparent;
    border: 2px solid var(--modal-btn-border-color);
    border-radius: 20px;
}
.display-block{
    display: block;
}
/* Ховер эффекты */
.icon-svg:hover{
    stroke: var(--invalid-text);
    fill: var(--invalid-text);
}

.group-btn-icon:hover{
    fill: var(--purple);
    stroke: var(--purple);
}
@media(max-width: 1440px){

    .search{
        width: 61.4%;
    }

    .inner {
        flex-basis: 77%;
        margin-right: 24px;
    }

    .list-item{
        margin-bottom: 34px;
    }

    .list-item__inner{
        flex-basis: 70%;
    }

    .right{
        flex-basis: 40%;
    }

    .product-info{
        width: 61%;
    }

    .details-top{
        margin-bottom: 48px;
    }

    .delivery-desc{
        flex-basis: 64%;
    }
}

@media(max-width: 980px){
    .inner{
        margin-right: 0;
    }

    .main{
        flex-direction: column;
    }

    .btn-inner{
        margin-right: 0;
    }
    
    .list-item{
        flex-direction: column;
    }
    
    .list-item__price-mob{
        flex-direction: row;
        display: flex;
    }

    .mob-inner{
        display: flex;
    }
    .search-mob{
        display: block;
    }

    .user,.shop-cart, .search, .product-company, .list-item__price{
        display: none;
    }

    .header__title{
        width: fit-content;
        font-size: 26px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
}