h1,h2,body,p,ul,h3{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", "Arial", sans-serif;
    background-color: var(--violet);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 17px 24px;
}

.header__title{
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.01em;
    width: 109px;
    text-transform: uppercase;
}

.search{
    width: 970px;
    height: 48px;
    /* padding: 0px, 20px, 0px, 20px; */
    border-radius: 36px;
}

.user, .shop-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-icon{
    width: 20px;
}

.icon-text{
    color: var(--white);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    margin-top: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    background-color: var(--grey-background);
    padding: 21px 24px 36px 24px;
    border-radius: 24px;
}

.section__title{
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-bottom: 16px;

}

.main__title{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.01em;
    margin: 15px 0 26px 0;

}
.inner{
    flex-basis: 72%;
    margin-right: 32px;
}

.details-top{
    margin-bottom: 70px;
}

.details-bottom{
    margin-bottom: 35px;
}

.details__summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-border-color);
    padding-bottom: 14px;
    margin-bottom: 11px;
}

.details__summary::marker {
    display:none;
}

details:not([open]) > .details__summary > img {
    transform: rotate(180deg);
}

.summary-arrow{
    width: 20px;
    height: 20px;
    float: right;
    transition: all .3s;
}

.desc-count{
    display: inline-block;
}

.summary-checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.summary-checkbox-mask{
    position: absolute;
    margin: 0;
    width: 22px;
    height: 22px;
    background-color: var(--purple);
    border-radius: 8px;
    margin-left: -32px;
}

.summary-label{
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    padding-left: 20px;
}

.list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: s; */
    margin-bottom:  30px;
}

.list-item__inner{
    display: flex;
    flex-direction: row;
    flex-basis: 62%;
}

.right{
    flex-basis: 25%;
    justify-content: space-between;
}

.list-item__img{
    margin:0  10px 0 10px;
    width: 72px;
    height: 96px;

}

.list-item__price{
    text-align: right;
}

.product-info{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.list-item__counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--white);
}

.counter-btn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.product-name{
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product-color, .product-size{
    color: var(--black);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

}
.product-storage, .product-company{
    color: var(--grey);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.price-title{
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.price-discount{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey);
    text-decoration: line-through;
    text-decoration: underline dashed;
}

.inner-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-inner{
    margin-right: 119px;
}

.btn-change{
    color: var(--purple);
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
}
.group-btn{
    border: none;
    background-color: transparent;
}

.section{
    background-color: var(--white);
    border-radius: 16px;
    margin-bottom: 15px;
    padding: 16px 20px 16px 23px;
}

.pay-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}
.pay-information{
    display: flex;
    flex-direction: row;
}

.delivery__img-inner{
    width: 100%;
}

.delivery__img{
    width: 40px;
    height: 56px;
}

.pay{
    margin-bottom: 16px;
    padding: 16px 20px 24px 23px;
}

.pay-desc{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 5px;
}

.form{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 83%;
}


.form-label{
    flex-basis: 32%;
}

.form-label:nth-child(-n+2){
    flex-basis: 49%;
}

.recipient{
    padding-bottom: 5px;
}

.recipient-input{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-border-color);
    margin-bottom: 36px;
    width: 100%;
}

.aside{
    flex-basis: 31%;
    height: fit-content;
    background-color: var(--white);
}

.aside-item ,.delivery-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside-inner{
    margin-bottom: 10px;
}

.aside-item:last-child{
    margin-bottom: 10px;
}

.delivery-content{
    width: 83%;
    margin-bottom: 18px;
}


.aside-item:first-child{
    margin-bottom: 8px;
}

.aside-btn{
    border: none;
    background-color: transparent;
}

.aside__total-price{
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    color: var(--black);
}

.aside-item__desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.subtitle{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    /* margin-top: 25px; */
}

.delivery-desc{
    flex-basis: 74%;
}

.delivery-schedule{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.aside-address{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.aside-date{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--purple);
}

.aside-delivery{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 3px 0;
    background-color: var(--grey-background);
    padding: 8px;
}

.card-number{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.aside-pay{
    background-color: var(--grey-background);
    padding: 8px;
    margin-bottom: 31px;
}

.price-shipping{
    color: var(--green);
    text-decoration: underline dashed;
}

.aside-delivery-icon{
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

.order{
    border: none;
    border-radius: 10px;
    padding: 12px 156px;
    background-color: var(--purple);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 10px;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-desc{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--grey);
    padding: 24px 0;
}