:root{
    --violet: #6725A8;
    --white: #fff;
    --grey-background: #F6F6FA;
    --purple: #CB11AB;
    --black: #000;
    --grey: #9797AF;
    --grey-border-color: #0000001A;
    --green: #0CB477;
    --search-background-color: #8551B9;
    --modal-btn-border-color: #CB11AB26;
    --invalid-text: #F55123;
}